@model List<StoreProject.Models.Domain.Product>

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Show All Categories</h1>
    </div>
</div>

<div class="container py-5">
    @if (Model != null && Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Stock</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var product in Model)
                {
                    <tr>
                        <td>@product.ProductId</td>
                        <td>@product.ProductName</td>
                        <td>@product.Description</td>
                        <td>@product.Price</td>
                        <td>@product.Stock</td>

                        <td>
                            <a class="btn btn-dark" asp-area="" asp-controller="AdminCategory" asp-action="Edit" asp-route-id="@product.ProductId">Edit</a> |
                            <a class="btn btn-danger" asp-area="" asp-controller="AdminCategory" asp-action="Delete" asp-route-id="@product.ProductId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    else
    {
        <p>No categories found!</p>
    }
</div>